@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-60: 60px;
}

body {
  height: 100vh;
  font-weight: 300;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: var(--space-60) 1fr var(--space-60);
}