@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-72: 72px;
}

body {
  height: 100vh;
  font-weight: 300;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: var(--space-72) 1fr var(--space-72);
}

input[type="search"]::-webkit-search-cancel-button { 
  display: none; 
}

summary {
  list-style: none;
}

